<!DOCTYPE html>
<html>
<head>
    <title>Детали заказа</title>
</head>
<body>
    <h1>Детали заказа {{ order.id }}</h1>
    <p>Номер столика: {{ order.table_number }}</p>
    <p>Статус: {{ order.get_status_display }}</p>
    <p>Общая стоимость: {{ order.total_price }}</p>
    <h2>Блюда</h2>
    <ul>
        {% for dish in order.items.all %}
            <li>{{ dish.name }} - {{ dish.price }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'order_list' %}">Вернуться к списку заказов</a>
</body>
</html>
