{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
    <h1>Список заказов</h1>

    <form method="get" action="{% url 'home' %}" class="search-form">
        <div class="form-group-horizontal">
            {% csrf_token %}
            {{ search_form.query }}
            {{ search_form.status }}
            <button type="submit">Поиск</button>
        </div>
    </form>

    {%if orders%}

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер стола</th>
                <th>Список блюд</th>
                <th>Общая стоимость</th>
                <th>Состояние</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.table_number }}</td>
                <td>
                    <ul>
                        {% for item in order.items.all %}
                        <li>{{ item.name }} ({{ item.price }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            {% for page_num in paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <span class="current">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}&query={{ search_form.query.value }}&status={{ search_form.status.value }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% else %}
        <p>Результаты не найдены.</p>
    {%endif%}
{% endblock %}
