{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
    <h1>Список заказов</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер стола</th>
                <th>Список блюд</th>
                <th>Общая стоимость</th>
                <th>Состояние</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.table_number }}</td>
                <td>
                    <ul>
                        {% for item in order.items.all %}
                        <li>{{ item.name }} ({{ item.price }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
